
/* Example CSS styles */
.stepTracker {
    display: flex;
    /* flex-wrap: wrap; */
    
    max-width: 600px;
    margin: 10px 0;
  }
  
  .stepTracker1 {
    display: flex;
    /* flex-wrap: wrap; */
    overflow-x: scroll;
    width: 600px;
    margin: 10px 0;
    
  }
  .stepTracker1::-webkit-scrollbar {
    display: none;
  }
  .stepTracker1::-webkit-scrollbar-thumb{
    display: block;
  }
  
  .activeStep {
    background-color: #00bcd4;
    color: white;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
  }
  
  .inactiveStep {
    border: 1px solid #ccc;
    color: #ccc;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
  }
  