.uiContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    background-color: #f0f0f0;
    height: 100vh;
    
    
    
}
.UiWrapper{
    display: flex;
    flex-direction: column;
    
    /* gap: 10%; */
}
.renderedContainer{
    width: 80%;
    padding: 20px;
    
    
}
  
  /* Apply the hover effect */
  .buttonClass:hover {
    /* background-color: #4caf50; */
    color: rgb(232, 24, 24);
  }

/* .rightbar{
    
} */